div.overlay {
    float:left;
    width:200px;
    height:400px;
    background-color:#000;
    opacity:0.5;
    border-radius:10px;

}

.background {
    width:900px;
    height:500px;
    background-color:#000;
    border-radius:10px;
position: relative
}

.center {
    /*align:center;*/
    /*float: center;*/
     /*text-align: center;*/
    /*margin:auto;*/
    width:auto;
    height:100px;
    background-color:#aaa;
   position: relative;               /* 2 */
   /*top: 50%;                         /* 3 */
   /*transform: translate(0, -50%)*/
}

.top {
    width:auto;
    height:200px;
    /*margin-bottom: auto;*/
    background-color:#f0f;
    opacity: 0.5;
/*        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translatate(-50%, -50%)*/
}

.bottom {
    width:auto;
    height:200px;
    /*margin-bottom: auto;*/
    background-color:#a0f;
    opacity: 0.5;
/*        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translatate(-50%, -50%)*/
}